{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body %}
        <h1>Films à l'affiche</h1>
        <a class="btn btn-primary" href="{{ path('app_movie_new') }}">Ajouter un film</a>

    <div class="container-fluid d-flex gap-4 justify-content-center flex-wrap" style="max-width: 1600px" >
        {% for movie in movies %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img class="card-img-top" src="{{ movie.poster }}" alt="Card image cap" width="200">
                <h4 class="card-title mt-2">{{ movie.title }}</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ movie.country }}</li>
                    <li class="list-group-item">{{ movie.releasedAt ? movie.releasedAt|date('d-m-Y') : '' }}</li>
                    <li class="list-group-item">
                        {% for genre in movie.genre %}
                            <span class="badge bg-secondary">{{ genre.name }}</span>
                        {% endfor %}
                    </li>
                    <li style="height:250px;" class="list-group-item ">{{ movie.plot }}</li>
                    <li class="list-group-item">Prix : {{ movie.price }}€</li>
                </ul>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a class="btn btn-primary" href="{{ path('app_movie_show', {'id': movie.id}) }}">show</a>
                        <a class="btn btn-primary" href="{{ path('app_movie_edit', {'id': movie.id}) }}">edit</a>
                    </li>
                </ul>
            </div>
        </div>

        {% else %}
            <div>
                no records found
            </div>
        {% endfor %}

{% endblock %}
