{% extends 'base.html.twig' %}

{% block title %}Movie{% endblock %}

{% block body %}
    <div class="d-flex container-fluid justify-content-center align-items-center">

        <div class="card" style="width: 80%;">
            <div class="card-header">Détails du film</div>
            <img class="card-img-top" src="{{ movie.poster }}" alt="Card image cap" height="200" style="object-fit: cover;"/>
            <div class="card-body">
                <h5>{{ movie.title}}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ movie.country }}</li>
                    <li class="list-group-item">{{ movie.releasedAt ? movie.releasedAt|format_datetime('short', 'none', locale='fr') }}</li>
                    <li class="list-group-item">{{ movie.plot }}</li>
                    <li class="list-group-item" style="height: 4rem">
                        <span class="badge bg-danger">{{ movie.rated }}</span>
                        {% for genre in movie.genre %}
                            <span class="badge bg-secondary">{{ genre.name }}</span>
                        {% endfor %}
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <div class="d-flex gap-2">
                    <a class="btn btn-primary" href="{{ path('app_movie_index') }}">Retour</a>
                    <a class="btn btn-primary" href="{{ path('app_movie_edit', {'id': movie.id}) }}">Modifier</a>
                    {{ include('movie/_delete_form.html.twig') }}
                </div>
            </div>
        </div>


    </div>
{% endblock %}
