{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{{ render(controller('App\\Controller\\NavBarController::index')) }}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ movie.poster }}" alt="Card image cap" width="400">
    <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Date de sortie : {{ movie.poster }}</li>
            <li class="list-group-item">Catégories : {{ movie.country }}</li>
            <li class="list-group-item">Date de sortie : {{ movie.releasedAt|date("d/m/Y") }}</li>
            <li class="list-group-item">Catégories : {{ movie.plot }}</li>
            <li class="list-group-item">Prix : {{ movie.price }}€</li>
        </ul>
    </div>
</div>
